<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="FacebookAppID" value="468039603317326"/>
    <add key="FacebookClientSecret" value="d29f9ed9ce02e632728454abcb73881d"/>
    <add key="FacebookAppToken" value="468039603317326|0cLOSXLZuOUA8e_0KN1fLsjsiZE"/>

  </appSettings>
</configuration>